In [9]:
import pandas as pd
import numpy as np

In [10]:
idx = pd.Index([10, 20, 30])

In [11]:
idx

Int64Index([10, 20, 30], dtype='int64')

In [12]:
idx = pd.Index([1, 3.14])

In [13]:
idx

Float64Index([1.0, 3.14], dtype='float64')

In [14]:
idx = pd.Index(['element 1', 'element 2'])

In [15]:
idx

Index(['element 1', 'element 2'], dtype='object')

In [16]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [17]:
idx[0]

2

In [18]:
idx[1:4]

Int64Index([4, 6, 8], dtype='int64')

In [19]:
idx[[1, 3, 4]]

Int64Index([4, 8, 10], dtype='int64')

In [20]:
idx = pd.Index(['London', 'Paris', 'New York', 'Tokyo'])
idx[idx != 'Tokyo']

Index(['London', 'Paris', 'New York'], dtype='object')

In [21]:
try:
    idx[0] = 100
except TypeError as ex:
    print('TypeError: ', ex)

TypeError:  Index does not support mutable operations

In [22]:
idx_1 = pd.Index(['a', 'b', 'c'])
idx_2 = pd.Index(['c', 'd', 'e'])

In [23]:
idx_1 & idx_2

C:\Users\feichtinge_a\AppData\Local\Temp\ipykernel_73776\760049088.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  idx_1 & idx_2

Index(['c'], dtype='object')

In [24]:
idx_1.intersection(idx_2)

Index(['c'], dtype='object')

In [25]:
idx_1 | idx_2

C:\Users\feichtinge_a\AppData\Local\Temp\ipykernel_73776\2310009055.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  idx_1 | idx_2

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [26]:
idx_1.union(idx_2)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [27]:
idx_2.union(idx_1)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [28]:
pd.Index([1, 2, 3]).union(pd.Index([1.1, 2.2, 3.0]))

Float64Index([1.0, 1.1, 2.0, 2.2, 3.0], dtype='float64')

In [29]:
pd.Index(range(2, 10, 2))

RangeIndex(start=2, stop=10, step=2)

In [30]:
idx = pd.RangeIndex(2, 10, 2)
idx

RangeIndex(start=2, stop=10, step=2)

In [31]:
idx

RangeIndex(start=2, stop=10, step=2)

In [32]:
idx[1:4]

RangeIndex(start=4, stop=10, step=2)

In [33]:
idx[::-1]

RangeIndex(start=8, stop=0, step=-2)

In [34]:
idx_1 = pd.RangeIndex(0, 5)
list(idx_1)

[0, 1, 2, 3, 4]

In [35]:
idx_2 = pd.RangeIndex(4, 8)
list(idx_2)

[4, 5, 6, 7]

In [36]:
idx_1.intersection(idx_2)

RangeIndex(start=4, stop=5, step=1)

In [37]:
list(idx_1.union(idx_2))

[0, 1, 2, 3, 4, 5, 6, 7]

In [38]:
list(pd.RangeIndex(1, 10, 2).union(pd.RangeIndex(1, 10, 3)))

[1, 3, 4, 5, 7, 9]

In [39]:
idx_1 = pd.Index(['a', 'b', 'c'])
idx_2 = pd.RangeIndex(0, 10, 2)

In [40]:
'b' in idx_1

True

In [41]:
8 in idx_2

True

In [42]:
10 in idx_2

False

In [43]:
idx = pd.Index([1, 1, 2, 2, 3, 3])

In [44]:
idx

Int64Index([1, 1, 2, 2, 3, 3], dtype='int64')

In [45]:
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

In [46]:
s

a    10
b    20
c    30
dtype: int64

In [47]:
s['a']

10

In [48]:
s['c'] = 100

In [49]:
s

a     10
b     20
c    100
dtype: int64

In [50]:
s['d'] = 500

In [51]:
s

a     10
b     20
c    100
d    500
dtype: int64

In [52]:
capitals = {
    'USA': 'Washington D.C.',
    'Canada': 'Ottawa',
    'UK': 'London',
    'France': 'Paris'
}

In [53]:
s = pd.Series(capitals)

In [54]:
s

USA       Washington D.C.
Canada             Ottawa
UK                 London
France              Paris
dtype: object

In [55]:
s.index

Index(['USA', 'Canada', 'UK', 'France'], dtype='object')

In [56]:
s.values

array(['Washington D.C.', 'Ottawa', 'London', 'Paris'], dtype=object)

In [57]:
type(s.values)

numpy.ndarray

In [58]:
s.items()

In [59]:
list(s.items())

[('USA', 'Washington D.C.'),
 ('Canada', 'Ottawa'),
 ('UK', 'London'),
 ('France', 'Paris')]

In [60]:
areas = pd.Series(
    ['USA', 'Topeka', 'France', 'Lyon', 'UK', 'Glasgow'],
    index=['country', 'city', 'country', 'city', 'country', 'city']
)

In [61]:
areas

country        USA
city        Topeka
country     France
city          Lyon
country         UK
city       Glasgow
dtype: object

In [62]:
areas['city']

city     Topeka
city       Lyon
city    Glasgow
dtype: object

In [63]:
areas[5]

'Glasgow'

In [64]:
areas[1] = 'Rom'

In [65]:
areas

country        USA
city           Rom
country     France
city          Lyon
country         UK
city       Glasgow
dtype: object

In [66]:
s = pd.Series([10, 20, 30, 40, 50], index=list('abcde'))

In [67]:
s['a':'d']

a    10
b    20
c    30
d    40
dtype: int64

In [68]:
s[:3]

a    10
b    20
c    30
dtype: int64

In [69]:
s[['a', 'c', 'd']]

a    10
c    30
d    40
dtype: int64

In [70]:
s = pd.Series([100, 200, 300], index=[10, 20, 30])

In [71]:
s

10    100
20    200
30    300
dtype: int64

In [72]:
s[10]

100

In [73]:
s[100]

KeyError: 100

In [74]:
s[0]

KeyError: 0

In [75]:
try:
    s[0]
except KeyError as ex:
    print('KeyError: ', ex)

KeyError:  0

In [76]:
s[0:3]

10    100
20    200
30    300
dtype: int64

In [77]:
s.iloc[0]

100

In [79]:
s.loc[10]

100

In [80]:
s.iloc[0:4]

10    100
20    200
30    300
dtype: int64

In [81]:
s.loc[10:30]

10    100
20    200
30    300
dtype: int64

In [82]:
s

10    100
20    200
30    300
dtype: int64

In [83]:
s.name = 'test'

In [84]:
s

10    100
20    200
30    300
Name: test, dtype: int64

In [85]:
areas = pd.Series(
    ['USA', 'Topeka', 'France', 'Lyon', 'UK', 'Glasgow'],
    index=['country', 'city', 'country', 'city', 'country', 'city'],
    name='Areas'
)
areas

country        USA
city        Topeka
country     France
city          Lyon
country         UK
city       Glasgow
Name: Areas, dtype: object

In [86]:
areas[areas != 'Glasgow']

country       USA
city       Topeka
country    France
city         Lyon
country        UK
Name: Areas, dtype: object

In [87]:
s = pd.Series([10, 20, 30], index=list('abc'), name='test')

In [88]:
s

a    10
b    20
c    30
Name: test, dtype: int64

In [89]:
new = s.drop(['a', 'c'])

In [90]:
new

b    20
Name: test, dtype: int64

In [91]:
s

a    10
b    20
c    30
Name: test, dtype: int64

In [92]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [93]:
s.index[[0, 2]]

Index(['a', 'c'], dtype='object')

In [94]:
s.drop(s.index[[0, 2]])

b    20
Name: test, dtype: int64

In [95]:
s

a    10
b    20
c    30
Name: test, dtype: int64

In [96]:
columns = pd.Index(
    [
        'The Bronx',
        'Brooklyn',
        'Manhattan',
        'Queens',
        'Staten Island'
    ]
)
counties = pd.Series(
    ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond'],
    index=columns,
    name='county'
)
populations = pd.Series(
    [1_418_207, 2_559_903, 1_628_706, 2_253_858, 476_143],
    index=columns,
    name='population'
)
gdp = pd.Series(
    [42.695, 91.559, 600.244, 93.310, 14.514],
    index=columns,
    name='gdp'
)
areas = pd.Series(
    [42.10, 70.82, 22.83, 108.53, 58.37],
    index=columns,
    name='area'
)

In [99]:
new_york = pd.DataFrame([counties, populations, gdp, areas])
new_york

           The Bronx Brooklyn Manhattan   Queens Staten Island
county         Bronx    Kings  New York   Queens      Richmond
population   1418207  2559903   1628706  2253858        476143
gdp           42.695   91.559   600.244    93.31        14.514
area            42.1    70.82     22.83   108.53         58.37

In [100]:
new_york.transpose()

                 county population      gdp    area
The Bronx         Bronx    1418207   42.695    42.1
Brooklyn          Kings    2559903   91.559   70.82
Manhattan      New York    1628706  600.244   22.83
Queens           Queens    2253858    93.31  108.53
Staten Island  Richmond     476143   14.514   58.37

In [104]:
d = {
    'county': counties,
    'population': populations,
    'gdp': gdp,
    'area': areas
}
new_york = pd.DataFrame(d)
new_york

                 county  population      gdp    area
The Bronx         Bronx     1418207   42.695   42.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37

In [105]:
new_york.transpose()

           The Bronx Brooklyn Manhattan   Queens Staten Island
county         Bronx    Kings  New York   Queens      Richmond
population   1418207  2559903   1628706  2253858        476143
gdp           42.695   91.559   600.244    93.31        14.514
area            42.1    70.82     22.83   108.53         58.37

In [106]:
counties = {
    'The Bronx': 'Bronx',
    'Brooklyn': 'Kings',
    'Manhattan': 'New York',
    'Queens': 'Queens',
    'Staten Island': 'Richmond'
}
populations = {
    # note how the keys are not necessarily in the same order
    'Manhattan': 1_628_706,
    'Queens': 2_253_858,
    'Staten Island': 476_143,
    'The Bronx': 1_418_207,
    'Brooklyn': 2_559_903
}
gdp = {
    'The Bronx': 42.695,
    'Brooklyn': 91.559,
    'Manhattan': 600.244,
    'Queens': 93.310,
    'Staten Island': 14.514
}
areas = {
    'The Bronx': 2.10,
    'Brooklyn': 70.82,
    'Manhattan': 22.83,
    'Queens': 108.53,
    'Staten Island': 58.37
}

d = {
    'county': counties,
    'population': populations,
    'gpd': gdp,
    'area': areas
}

In [107]:
new_york = pd.DataFrame(d)
new_york

                 county  population      gpd    area
The Bronx         Bronx     1418207   42.695    2.10
Brooklyn          Kings     2559903   91.559   70.82
Manhattan      New York     1628706  600.244   22.83
Queens           Queens     2253858   93.310  108.53
Staten Island  Richmond      476143   14.514   58.37